{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}

    <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm border-primary">

                    <div class="card-header py-3 text-bg-primary border-primary">
                        <h4 class="my-0 fw-normal text-center">{{ object.name|title }}</h4>
                    </div>

                    <div class="card-body">

                        <img class="card-img-top"
                                 alt="Card image cap"
                            {#   src="/media/{{ object.picture }}"#}
                                src="{{ object.picture|mediapath }}"
                        >

                        <p class="card-text">Описание: {{ object.description|truncatechars:100 }}</p>
                        <p class="card-text">Цена: {{ object.price }}</p>
                        <p class="card-text">Дата создания: {{ object.data_create }}</p>
                        <p class="card-text">Дата редактирования: {{ object.data_edit }}</p>


                        <ul class="list-unstyled mt-3 mb-4">

                                <li><p class="fw-bold">Примечание: карточка одного товара</p></li>
                        </ul>


                    </div>
                </div>

            </div>




      {% endblock %}