{% extends 'catalog/base.html' %}

{% block content %}



    <div class="col-12">
        <form class="row" method="post" enctype="multipart/form-data">

            <div class="col-6">

                <div class="card mb-4 rounded-3 shadow-sm border-primary">

                    <div class="card-header py-3 text-bg-primary border-primary">
                        <h2 class="card-title">Добавление продукта</h2>
                    </div>

                    <div class="card-body">

                            {% csrf_token %}
                            {{ form.as_p }}

                            <button type="submit" class="btn btn-outline-success">
                                Сохранить
                            </button>
                    </div>

                    <div class="card-footer">

                    </div>
                </div>

            </div>



                {% if object %}
                <div class="col-6">

                <div class="card mb-4 rounded-3 shadow-sm border-primary">

                    <div class="card-header py-3 text-bg-primary border-primary">
                        <h2 class="card-title">Версии продукта</h2>
                    </div>

                    <div class="card-body">

                        {{ formset.management_form }}
                        {% for form in formset.forms %}
                            {{ form.as_p }}
                            {% if not forloop.last %}
                            <hr>
                            {% endif %}
                        {% endfor %}

                    </div>

                    <div class="card-footer">

                    </div>
                </div>
                </div>
                {% endif %}


        </form>
    </div>


      {% endblock %}